<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="bloxer_dashboard.css">
</head>
<body>
    <div class="form-container">
        <p class="title">Login</p>
        <form class="form" id="login-form">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="">
                <div>
                <br><br>
                </div>
            </div>
            <button type="submit" class="btn">Log in</button>
        </form>
    </div>

    <script src="bloxer_script.js"></script>
</body>
</html>